**/.Rproj.user/
.Rhistory
.RData
.Ruserdata
Bookdown/capitulo*_files
Bookdown/.Rproj.user
Bookdown/.Rhistory
**/Bookdown/.Rhistory
**/Bookdown/capitulo*_files/
**/capitulo*_files/
**/capitulo*_files
Bookdown/ecologico_book_files/
Bookdown/libs/
.Rproj.user
**/.Rproj.user/
.Rhistory
.RData
.Ruserdata
capitulo*_files/
